@charset "UTF-8";
/*8888888888888888888888888888888888
Variáveis
888888888888888888888888888888888888*/
/*8888888888888888888888888888888888
geral
888888888888888888888888888888888888*/
ul, li, a, p {
  list-style: none;
  text-decoration: none;
  font-family: arial; }

* {
  box-sizing: border-box; }

h1 {
  color: #164ca1;
  font-family: arial; }

/*8888888888888888888888888888888888
HEADER
888888888888888888888888888888888888*/
header {
  position: relative;
  width: 100%;
  height: 60vw;
  background-image: url("../../asset/tela1.png");
  background-size: cover;
  background-position: center center; }
  header .main-logo {
    width: 40%;
    margin: 5px 30%;
    position: absolute;
    top: 10%; }
  header .menu-image {
    position: absolute;
    top: 60%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around; }
    header .menu-image img {
      width: 20%;
      margin: 2px 1%; }
  header ul {
    position: absolute;
    margin: 2px;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10%; }
    header ul li {
      color: white;
      font-size: 1.5vw; }

article {
  padding: 5%; }
  article h1 {
    text-align: center;
    font-size: 2.8vw; }
  article p {
    text-align: center;
    font-size: 1.8vw; }
  article img {
    width: 100%; }

/*8888888888888888888888888888888888
SERVICE
888888888888888888888888888888888888*/
.service {
  display: flex;
  padding: 5%; }
  .service div {
    background: #e7e7e8;
    margin: 2%;
    width: 29%;
    padding: 5%; }
    .service div img {
      width: 100%; }
    .service div h1 {
      text-align: center;
      font-size: 2.8vw; }

.questions {
  background: #164ca1;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%; }
  .questions h1 {
    color: white;
    font-size: 2.3vw; }
  .questions button {
    font-size: 3vw;
    color: white;
    background: none;
    border: none;
    font-size: 5.3vw; }

.contact-us {
  background-image: url("../../asset/map.png");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .contact-us article P {
    text-align: left;
    font-size: 2.5vw; }
    .contact-us article P span {
      color: #164ca1;
      font-weight: bold; }
  .contact-us article p:nth-child(4) {
    color: #164ca1; }
  .contact-us form {
    display: block; }
    .contact-us form h1 {
      color: white;
      margin: 10px 6%; }
    .contact-us form input {
      width: 90%;
      height: 3.5vw;
      margin: 10px 6%; }
    .contact-us form textarea {
      width: 90%;
      height: 7.5vw;
      margin: 10px 6%;
      color: black;
      font-size: 18px;
      padding: 2%; }

/*8888888888888888888888888888888888
            MOBILE
888888888888888888888888888888888888*/
@media (max-width: 600px) {
  article h1 {
    font-size: 3.5vw; }
  article p {
    font-size: 15px; }
  .service {
    display: flex;
    flex-direction: column; }
    .service div {
      margin: 5%;
      width: 90%;
      padding: 6%; }
      .service div h1 {
        font-size: 7.7vw; }
  .questions {
    padding: 3% 4%; }
    .questions h1 {
      font-size: 3.3vw; }
    .questions button {
      font-size: 6.3vw; }
  .contact-us {
    display: flex;
    flex-direction: column; }
    .contact-us article {
      background: white; }
    .contact-us form {
      background: #164ca1; }
      .contact-us form input {
        height: 6.5vw;
        font-size: 13px; }
      .contact-us form textarea {
        height: 150px;
        font-size: 15px; } }
