/*8888888888888888888888888888888888
geral
888888888888888888888888888888888888*/
ul, li, a {
  list-style: none;
  text-decoration: none;
  font-family: arial; }

* {
  box-sizing: border-box; }

/*8888888888888888888888888888888888
HEADER
888888888888888888888888888888888888*/
header {
  position: relative;
  width: 100%;
  height: 60vw;
  background-image: url("../../asset/tela1.png");
  background-size: cover;
  background-position: center center; }
  header .main-logo {
    width: 40%;
    margin: 5px 30%;
    position: absolute;
    top: 10%; }
  header .menu-image {
    position: absolute;
    top: 60%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around; }
    header .menu-image img {
      width: 20%;
      margin: 2px 1%; }
  header ul {
    position: absolute;
    margin: 2px;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10%; }
    header ul li {
      color: white;
      font-size: 1.5vw; }
