@charset "UTF-8";
/*8888888888888888888888888888888888
Variáveis
888888888888888888888888888888888888*/
/*8888888888888888888888888888888888
geral
888888888888888888888888888888888888*/
ul, li, a, p {
  list-style: none;
  text-decoration: none;
  font-family: arial; }

* {
  box-sizing: border-box; }

h1 {
  color: #164ca1;
  font-family: arial; }

img {
  width: 100%; }

/*8888888888888888888888888888888888
HEADER
888888888888888888888888888888888888*/
header {
  position: relative;
  width: 100%;
  height: 60vw;
  background-image: url("../asset/tela1.png");
  background-size: cover;
  background-position: center center; }
  header .sociais-midias-header {
    display: flex;
    position: absolute;
    top: 5%;
    justify-content: space-around;
    width: 25%; }
    header .sociais-midias-header img {
      width: 10%; }
  header .main-logo {
    width: 40%;
    margin: 5px 30%;
    position: absolute;
    top: 10%; }
  header .menu-image {
    position: absolute;
    top: 60%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around; }
    header .menu-image img {
      width: 20%;
      margin: 2px 1%; }
  header main .btn-mobile {
    display: none; }
  header main ul {
    position: absolute;
    margin: 2px;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10%; }
    header main ul li:nth-last-child(1) {
      border-right: none; }
    header main ul li {
      border-right: solid white 2px;
      padding-right: 3%; }
      header main ul li a {
        color: white;
        font-size: 1.5vw; }
      header main ul li a:hover {
        text-decoration: underline; }

/*8888888888888888888888888888888888
   BALANÇA
888888888888888888888888888888888888*/
article {
  padding: 5%; }
  article h1 {
    text-align: center;
    font-size: 2.8vw; }
  article p {
    text-align: center;
    font-size: 1.8vw; }
  article img {
    width: 100%; }

.howToDo h1 {
  margin-bottom: 1px; }

.howToDo img {
  width: 50%;
  margin: 0px 25%; }

.howToDo .main-img {
  width: 100%;
  margin: 2% auto; }

/*8888888888888888888888888888888888
SERVICE /MARKETING/OPERAÇÃO/GESTÃO
888888888888888888888888888888888888*/
.service {
  display: flex;
  padding: 5%; }
  .service div {
    background: #e7e7e8;
    margin: 2%;
    width: 29%;
    padding: 5% 2%;
    transition: .9s; }
    .service div img {
      width: 80%;
      margin: 1px 10%; }
    .service div h1 {
      text-align: center;
      font-size: 2vw; }
    .service div p {
      display: none; }
  .service div:hover p {
    display: block;
    font-size: 1.8vw; }

/*8888888888888888888888888888888888
       PAGE SOBRE NÓS
888888888888888888888888888888888888*/
.aboutUs h1 {
  margin: 1px;
  font-size: 2.8vw; }

.aboutUs img {
  width: 45%;
  margin: 0px 27%; }

.aboutUs .main-img {
  width: 100%;
  margin: 3px auto; }

/*8888888888888888888888888888888888
        PAGE VANTAGENS
888888888888888888888888888888888888*/
.benefits img {
  width: 45%;
  margin: 0px 27%; }

.benefits .main-img {
  width: 100%;
  margin: 3px auto; }

.benefits .main-img2 {
  width: 80%;
  margin: 3px 10%; }

.benefits .balance {
  text-align: center;
  margin-bottom: 1px; }

.benefits li {
  list-style: disc;
  margin: 4px; }

.benefits h1, .benefits p {
  text-align: left; }

/*8888888888888888888888888888888888
Dúvidas Frequentes 
888888888888888888888888888888888888*/
.questions {
  background: #0e7bba;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%; }
  .questions h1 {
    color: white;
    font-size: 2.8vw; }
  .questions button {
    font-size: 3vw;
    background: none;
    border: none; }
    .questions button a {
      font-size: 5.3vw;
      color: white; }

.doubts-section {
  background: #e7e7e8;
  font-family: arial;
  padding: 4%; }
  .doubts-section div {
    background: white;
    padding: 2%; }
    .doubts-section div p {
      font-size: 1.8vw; }
    .doubts-section div span {
      color: #164ca1;
      font-weight: bold;
      font-size: 1.8vw; }
    .doubts-section div li {
      list-style: disc;
      font-size: 1.8vw; }

/*8888888888888888888888888888888888
Fale Conosco
888888888888888888888888888888888888*/
.contact-us {
  background-image: url("../asset/map.png");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .contact-us article P {
    text-align: left;
    font-size: 1.8vw; }
    .contact-us article P span {
      color: #164ca1;
      font-weight: bold; }
  .contact-us article p:nth-child(4) {
    color: #164ca1; }
  .contact-us form {
    display: block; }
    .contact-us form h1 {
      color: white;
      margin: 10px 6%; }
    .contact-us form input {
      width: 90%;
      height: 3.5vw;
      margin: 10px 6%;
      font-size: 1.8vw; }
    .contact-us form textarea {
      width: 90%;
      height: 7.5vw;
      margin: 10px 6%;
      color: black;
      font-size: 1.8vw;
      font-family: arial;
      padding: 2%; }

/*8888888888888888888888888888888888
FOOTER
888888888888888888888888888888888888*/
footer {
  background: #141846;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 1vw 3vw; }
  footer .menu-footer {
    color: white;
    padding: 2vw 3vw; }
    footer .menu-footer p {
      font-size: 1.3vw; }
      footer .menu-footer p a {
        font-size: 1.8vw;
        color: white;
        font-size: 1.3vw; }
  footer .sociais-midias {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .sociais-midias img {
      width: 3vw;
      height: 3.7vw; }

@media (min-width: 1500px) {
  p, li, a {
    font-size: 27px !important; }
  .contact-us form input {
    font-size: 27px; }
  .contact-us form textarea {
    font-size: 27px; } }

/*8888888888888888888888888888888888
            MOBILE
888888888888888888888888888888888888*/
@media (max-width: 600px) {
  header .menu-image {
    display: none; }
  header .sociais-midias-header {
    display: none; }
  header main .btn-mobile {
    display: block;
    width: 12%;
    position: absolute;
    top: 7vw;
    left: 16px; }
  header main ul {
    display: flex;
    flex-direction: column;
    height: 63vw;
    width: 46%;
    position: absolute;
    margin: 2px;
    top: 64%;
    left: -4px;
    background: #164ca1;
    transition: .4s;
    opacity: 0;
    padding: 2px 5%; }
    header main ul li {
      border: none; }
      header main ul li a {
        font-size: 3.4vw; }
  header main:hover ul {
    opacity: 1; }
  article h1 {
    font-size: 5.5vw; }
  article p {
    font-size: 15px; }
  .aboutUs .balance {
    font-size: 5.5vw;
    margin-bottom: 0; }
  .service {
    display: flex;
    flex-direction: column; }
    .service div {
      margin: 5%;
      width: 90%;
      padding: 6%; }
      .service div img {
        width: 82%;
        margin: 1px 9%; }
      .service div h1 {
        font-size: 7.7vw; }
      .service div p {
        font-size: 15px; }
    .service div:hover p {
      display: block;
      font-size: 15px; }
  .questions {
    padding: 3% 4%; }
    .questions h1 {
      font-size: 5.5vw; }
    .questions button {
      font-size: 6.3vw; }
  .contact-us {
    display: flex;
    flex-direction: column; }
    .contact-us article {
      background: white; }
      .contact-us article p {
        font-size: 16px; }
    .contact-us form {
      background: #164ca1; }
      .contact-us form h1 {
        font-size: 5.5vw; }
      .contact-us form input {
        height: 8.5vw;
        font-size: 13px; }
      .contact-us form textarea {
        height: 150px;
        font-size: 15px; }
  .doubts-section div p, .doubts-section div span, .doubts-section div li {
    font-size: 15px; }
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center; }
    footer .menu-footer p:first-child {
      display: none; }
    footer .menu-footer p {
      text-align: center;
      line-height: 20px; }
    footer .sociais-midias img {
      width: 5vw;
      height: 6vw; }
  .benefits li {
    font-size: 15px; } }
