/*8888888888888888888888888888888888
Variáveis
888888888888888888888888888888888888*/
//COLORS
$azaul-escuro:#164ca1;
$branco-box:#e7e7e8;

$azul-escuro:#141846;
$azul-claro:#0e7bba;



//SIZES
$size-h1-desktop: 2.8vw;
$size-h1-mobile: 5.5vw;
$size-p-desktop: 1.8vw;
$size-p-mobile: 15px;




/*8888888888888888888888888888888888
geral
888888888888888888888888888888888888*/
ul, li,a, p{
    list-style:none;
    text-decoration: none;
    font-family: arial;
}
*{
    box-sizing: border-box;
}
h1{
    color:$azaul-escuro;
    font-family: arial;
}
img{
    width: 100%;
}


/*8888888888888888888888888888888888
HEADER
888888888888888888888888888888888888*/
header{
    position: relative;
    width: 100%;
    height: 60vw;
    background-image:url("../../asset/tela1.png");
    background-size: cover;
    background-position: center center;
    .sociais-midias-header{
        display: flex;
        position: absolute;
        top:5%;
        justify-content: space-around;
        width: 25%;
        img{
            width:10%
        }
    }
    .main-logo{
        width: 40%;
        margin: 5px 30%;
        position: absolute;
        top: 10%;
    }
    .menu-image{       
        position: absolute;
        top: 60%;
        padding: 0 10%;
        display: flex;
        justify-content: space-around;
            img{
                width: 20%;
                margin:2px 1%;
            }  
    }
    main{
        .btn-mobile{
            display: none
        }
        ul{     
            position: absolute;
            margin: 2px;
            top:90%;
            width: 100%;
            display:flex;
            justify-content: space-around;
            padding: 0 10%;
            li:nth-last-child(1){
                border-right: none;
            }
            li{
                border-right: solid white 2px;
                padding-right: 3%;
           
                a{
                    color:white;
                    font-size: 1.5vw;
                }
                & a:hover {
                    text-decoration:underline ;
                }

            }
        }

    }
}
/*8888888888888888888888888888888888
   BALANÇA
888888888888888888888888888888888888*/
article{
    padding:5%;
    h1{
        text-align: center;
        font-size: $size-h1-desktop;
    }
    p{
        text-align: center;
        font-size: $size-p-desktop;
    }
    img{
        width: 100%;
    }
}
// Page  O QUE FAZEMOS
.howToDo{
    h1{
        margin-bottom: 1px;
    }
    img{
        width: 50%;
        margin:0px 25%;
    }
    .main-img{
        width: 100%;
        margin:2% auto;
    }
}


/*8888888888888888888888888888888888
SERVICE /MARKETING/OPERAÇÃO/GESTÃO
888888888888888888888888888888888888*/
.service{
    display:flex;   
    padding:5%;
    div{
        background:$branco-box;
        margin:2%;
        width: 29%;
        padding:5% 2%;
        transition: .9s;
        img{
            width: 80%;
            margin: 1px 10%
        }
        h1{
            text-align:center;
            font-size:2vw;
        }
        p{
            display:none;
        }
    }
    div:hover p{
        display: block;
        font-size:$size-p-desktop;
    }       
}

/*8888888888888888888888888888888888
       PAGE SOBRE NÓS
888888888888888888888888888888888888*/
.aboutUs{
    h1{
        margin:1px;
        font-size:$size-h1-desktop;
    }
    img{
        width: 45%;
        margin: 0px 27%;
    }
   .main-img {
        width: 100%;
        margin: 3px auto;
    }
}    
/*8888888888888888888888888888888888
        PAGE VANTAGENS
888888888888888888888888888888888888*/
 .benefits{
    
    img{
        width: 45%;
        margin: 0px 27%;
    }
   .main-img {
        width: 100%;
        margin: 3px auto;
    }
    .main-img2{
        width: 80%;
        margin:3px 10%;
    }
    .balance{
        text-align:center;
        margin-bottom:1px;
    }
    li{
        list-style: disc;
        margin:4px;
    }
    h1, p{
        text-align: left;
     
    }
 }



/*8888888888888888888888888888888888
Dúvidas Frequentes 
888888888888888888888888888888888888*/
.questions{
    background:$azul-claro;
    display:flex;
    justify-content:space-between;
    padding:1% 3%;
    h1{
        color:white;
        font-size:$size-h1-desktop;
    }
    button{
        font-size:3vw;
        background:none;
        border:none;
        a{
            font-size:5.3vw;
            color:white;
        }
    }
}
.doubts-section{
    background:$branco-box;
    font-family: arial;
    padding: 4%;
    div{
        background:white;
        padding: 2%;
        p{
            font-size: $size-p-desktop;
        }
        span{
            color:$azaul-escuro;
            font-weight: bold;
            font-size: $size-p-desktop;
            
        }
        li{
            list-style:disc;
            font-size: $size-p-desktop;
        }

    }
}
/*8888888888888888888888888888888888
Fale Conosco
888888888888888888888888888888888888*/
.contact-us{
    background-image:url("../../asset/map.png");
    background-size: cover;
    background-position: center center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    article{
        P{
            text-align: left;
            font-size:$size-p-desktop;
            span{
                color:$azaul-escuro;
                font-weight: bold;
            }
        }
        p:nth-child(4){
            color:$azaul-escuro;
        }

    }
    form{
        
        display:block;
        h1{ color:white;
            margin:10px 6%;
        }
        input{
          width: 90%;
          height: 3.5vw;
          margin:10px 6%;
          font-size:$size-p-desktop;
        }
        textarea{
            width: 90%;
            height: 7.5vw;
            margin:10px 6%;
            color:black;
            font-size:$size-p-desktop;
            font-family: arial;
            padding: 2%;
        }
    }
}

/*8888888888888888888888888888888888
FOOTER
888888888888888888888888888888888888*/

footer{
    background:$azul-escuro;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 1vw 3vw;
    .menu-footer{       
    color:white;
    padding: 2vw 3vw;
    p{
        font-size:1.3vw;
        a{
            font-size:$size-p-desktop;
            color:white;
            font-size:1.3vw;
        }
    }
    }
    .sociais-midias{
        display: flex;
     justify-content: space-around;
     align-items: center;
        img{
            width: 3vw;
            height: 3.7vw;
        }
    }
 
}
@media(min-width:1500px){
    p, li, a{
       font-size:27px!important;
    }
    .contact-us{
        form{
            input{
                font-size:27px;                
            }
            textarea{
                font-size:27px;    
            }
        }
    }
 

}
/*8888888888888888888888888888888888
            MOBILE
888888888888888888888888888888888888*/     
@media(max-width:600px){
    header{
        .menu-image{
            display: none;
        }
        .sociais-midias-header{
            display:none;
            }
        main{
            .btn-mobile{
                display: block;
                width: 12%;
                position: absolute;
                top: 7vw;
                left: 16px;
                
            }
            ul{
                display:flex;
                flex-direction: column;
                height: 63vw;
                width: 46%;
                position: absolute;
                margin: 2px;
                top: 64%;
                left: -4px;
                background:$azaul-escuro;
                transition: .4s;
                opacity: 0;        
                padding: 2px 5%;
                li{
                   a{
                 font-size:3.4vw;
                   }                       
               }
            }
        }
        main:hover ul{
            opacity: 1;
        }

    }
    article{
        h1{
            font-size:$size-h1-mobile;
        }
        p{
            font-size:15px;
        }
    }
    .aboutUs{
        .balance{
            font-size: $size-h1-mobile;
            margin-bottom: 0;
        }
    }
    .service{
        display:flex;   
        flex-direction: column;    
        div{          
            margin: 5%;
            width: 90%;
            padding: 6%;  
            img{
                width: 82%;
                margin: 1px 9%;
            }
            h1{    
                font-size:7.7vw;
            }  
            p{
                font-size:$size-p-mobile;
            }      
        }             
    }
    .questions{       
        padding:3% 4%;
        h1{
            font-size: $size-h1-mobile;
        }
        button{
         
            font-size:6.3vw;
        }
    }    
    .contact-us{      
     display:flex;
     flex-direction: column;
     article{
         background:white;
         p{
             font-size:16px;
         }
     };
     form{
         h1{
             font-size: $size-h1-mobile;
         }
         background:$azaul-escuro;
         input{
            height: 8.5vw;
            font-size: 13px;
         }
         textarea{
            height:150px;
            font-size: 15px;
         }

     }
    }
    //DUVIDAS FREQUENTES
    .doubts-section{
        div{
            p,span,li{
                font-size: 15px;
            }
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        .menu-footer{
            p:first-child{
                display:none
            }
            p{
                text-align: center;
                line-height: 20px;
            }
        }
        .sociais-midias{
            img{
                width: 5vw;
                height: 6vw;
            }
        }

    }
    //VANTAGENS
    .benefits{
        li{
            font-size: $size-p-mobile;
        }
    }
}






